@model bool

@if (Model)
{
    <h1>Confirmation</h1>
    <p>Thank you for confirming your email address.</p>
}
else
{
    <h1>Confirmation</h1>
    <p>Sorry, your email address could not be confirmed.</p>
}
