@using EventManagement.Application.Common.MailTemplateModels;
@inherits RazorEngineCore.RazorEngineTemplateBase<EmailConfirmationMailTemplateModel>

<h1>Привіт @Model.Name,</h1>
<p>Натисніть <a href="@Model.ConfirmationUrl">сюди</a> щоб підтвердити електронну пошту.</p>
