@using EventManagement.Application.Common.MailTemplateModels;
@inherits RazorEngineCore.RazorEngineTemplateBase<EventCancelledMailTemplateModel>

<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
        <tbody>
            <tr>
                <td align="center" style="background-color:#dbe5ea;padding-left:8px;padding-right:8px">
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="max-width:632px;margin:0 auto">
                        <tbody>
                            <tr>
                                <td align="left" style="font-family:Helvetica,Arial,sans-serif;margin-top:0px;margin-bottom:0px;font-size:16px;line-height:24px;background-color:#ffffff;color:#424651;padding-left:24px;padding-right:24px;padding-top:16px;padding-bottom:16px">
                                    <p style="margin-top:0px;margin-bottom:0px">
                                        Привіт!
                                    </p>
                                    <br>
                                    <p style="margin-top:0px;margin-bottom:0px">
                                        На жаль, подію @Model.EventName було скасовано.
                                    </p>
                                    <br>
                                    <br>
                                    <p style="margin-top:0px;margin-bottom:0px">
                                        - @Model.CommunityName
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>